@model CitiFine.Models.Violation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Violation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Violation ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViolationId)
        </dd>
        <dt class = "col-sm-2">
            Violation Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationType)
        </dd>
        <dt class = "col-sm-2">
            Fine Amount
        </dt>
        <dd class = "col-sm-10">
            $@Html.DisplayFor(model => model.FineAmount)
        </dd>
        <dt class = "col-sm-2">
            Date Issued
        </dt>
        <dd class = "col-sm-10">
            @Model.DateIssued.ToString("yyyy-MM-dd hh:mm tt")
        </dd>
        <dt class="col-sm-2">
            Payment Deadline
        </dt>
        <dd class="col-sm-10">
            @Model.DateIssued.AddMonths(1).ToString("yyyy-MM-dd hh:mm tt")
        </dd>
        <dt class = "col-sm-2">
            Paid
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.ViolationId">Edit</a>
        @if (!Model.IsPaid)
        {
            <form method="post" action="@Url.Action("CreateCheckoutSession", "Payment", new { violationId = Model.ViolationId })">
                <button type="submit" class="btn btn-primary">Pay Fine</button>
            </form>
        }
        <a asp-action="Index">Back to List</a>
    }
    else if (User.IsInRole("Officer"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.ViolationId">Edit</a>
        <a asp-action="Index">Back to List</a>
    }
    else
    {
        @if (!Model.IsPaid)
        {
            var paymentDeadline = Model.DateIssued.AddMonths(1);
            var isLate = DateTime.Now > paymentDeadline;

            <form method="post" action="@Url.Action("CreateCheckoutSession", "Payment", new { violationId = Model.ViolationId })">
                <button type="submit" class="btn btn-primary" @(isLate ? "disabled" : "")>Pay Fine</button>
            </form>

            @if (isLate)
            {
                <p class="text-danger mt-2"><strong>This fine is overdue.</strong> Please proceed to the Traffic Violations Office to settle your payment as soon as possible.</p>
            }
        }
        <a asp-action="Index">Back to List</a>
    }
</div>