@model CitiFine.Models.Violation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Violation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FineAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FineAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIssued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ViolationId">Edit</a> |
    <a asp-action="PayFine" asp-route-id="@Model?.ViolationId">Pay Fine</a> |
    <a asp-action="Index">Back to List</a>
</div>
<!-- Pay Fine Button -->
@* <div> *@
@*     @if (!Model.IsPaid) *@
@*     { *@
@*         <form method="post" asp-action="PayFine" asp-route-id="@Model.ViolationId"> *@
@*             <button type="submit" class="btn btn-success">Pay Fine</button> *@
@*         </form> *@
@*     } *@
@*     else *@
@*     { *@
@*         <span class="text-success">This fine has already been paid.</span> *@
@*     } *@
@* </div> *@