@model IEnumerable<CitiFine.Models.Violation>

@{
    ViewData["Title"] = "Violation List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Violation Records</h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Officer"))
{
    <p>
        <a asp-action="Create" class="btn btn-light-green btn-sm">Create Violation Ticket</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Violation ID</th>
            <th>License Plate</th>
            <th>Violation Type</th>
            <th>Fine Amount</th>
            <th>Date Issued</th>
            <th>Payment Deadline</th>
            <th>Paid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ViolationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViolationType)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.FineAmount)
                </td>
                <td>
                    @item.DateIssued.ToString("yyyy-MM-dd hh:mm tt")
                </td>
                <td>
                    @item.DateIssued.AddMonths(1).ToString("yyyy-MM-dd hh:mm tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPaid)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ViolationId" class="btn btn-light-green btn-sm" >Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ViolationId" class="btn-custom-yellow btn-sm" style="text-decoration: none;">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ViolationId" class="btn btn-custom-red btn-sm">Delete</a>
                    }
                    else if (User.IsInRole("Officer"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ViolationId" class="btn btn-light-green btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ViolationId" class="btn-custom-yellow btn-sm">Details</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.ViolationId" class="btn-custom-yellow btn-sm">Details</a>
                    }
             
            </td>
        </tr>
}
    </tbody>
</table>