@model IEnumerable<CitiFine.Models.Violation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ViolationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FineAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ViolationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FineAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ViolationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ViolationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ViolationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
